<div class="navbar">
  <div class="navbar-left">
    <h5>Simple Airbnb</h5>
  </div>
  <div class="navbar-right">
    <%= link_to "Add Flat", new_flat_path, class: "btn btn-success navbar-item navbar-link" %>
  </div>
</div>